@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap");
/* @import url("http://fonts.cdnfonts.com/css/marvel-2"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Marvel", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#BGImage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -100;
  filter: grayscale(95%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: #202020;
}

.navContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav #searchName {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 0;
  border-radius: 0;
  font-weight: bold;
  border: none;
}

nav #submitBtn {
  font-size: 1rem;
  padding: 10px 25px;
  border: none;
  background: #ec1d24;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.container {
  margin-top: 1rem;
  margin-bottom: 10rem;
  background: rgba(255, 255, 255, 0.8);
  width: 60%;
  border-radius: 1rem;
}

#characterDetail {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  width: 90%;
  margin: 1.5rem auto;
  height: auto;
  /* display: flex;
  justify-content: left; */
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
}

#characterImage {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
}

#characterImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#characterOtherDetails {
  margin: 2rem 10%;
  font-size: 2rem;
}

#characterName {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#characterDescription {
  font-size: 1.5rem;
}

.Title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #202020;
  padding-bottom: 0.5rem;
  margin: 1rem 0;
  text-align: center;
  border-bottom: 1px solid #202020;
}

.comicDetails,
.seriesDetails {
  width: 90%;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  border-radius: 1rem;
  padding: 0.5rem;
  /* display: flex;
  justify-content: space-around; */
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.comicCard,
.seriesCard {
  flex-wrap: wrap;
  border-radius: 1rem;
  width: auto;
  background: #202020;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.comicCard img,
.seriesCard img {
  border: 10px solid #202020;
  border-radius: 1.5rem;
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.comicDetail,
.seriesDetail {
  margin: 1rem;
  margin-top: 0;
  color: #fff;
}

.comicDetail .comicName,
.seriesDetail .seriesName {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
  margin: 0.5rem 0;
}

.comicDetail .comicDescription,
.seriesDetail .seriesDescription {
  font-size: 1.2rem;
}

.seriesRating,
.seriesType {
  font-size: 1.2rem;
  font-weight: bold;
}

.seriesYear {
  font-weight: bold;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1250px) {
  .navContainer {
    width: 80%;
  }

  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .navContainer {
    width: 95%;
  }

  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.5);
  }
}

@media only screen and (max-width: 530px) {
  nav {
    height: 150px;
  }
  .navContainer {
    height: 110px;
    flex-direction: column;
  }

  #characterDetail {
    display: flex;
    flex-direction: column;
  }
}
